/* Estilos generales */

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
    }

@font-face {
    font-family: roboto-bold;
    src: url(Roboto-Bold.ttf);
    }

@font-face {
    font-family: roboto-medium;
    src: url(Roboto-Medium.ttf);
    }

    @font-face {
        font-family: roboto-light;
        src: url(Roboto-Light.ttf);
        }


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #3353A0;
}

/* Header */
header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que el header esté encima del contenido */
    display: block;
    padding: 2.9%;
}

#cont-logo{
    margin-left: 7%;
    width: 131px;
}

/* #logo{
    height: 50%;
    padding: 18px;
    width: 131px;
} */

#menu{
    margin-left:2.3%;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #3353A0;
    font-family: roboto;
    font-size: 0.88rem;
}

header nav ul li a:hover {
    color: #3353A0;
}


/* Sección principal */
.main-section {
    text-align: center;
    padding: 40px 20px;
    background: radial-gradient(at 0% 10%, rgba(124, 159, 165, 0.2), rgba(124, 159, 165, 0.2), rgba(124, 159, 165, 0.20),rgba(255, 255, 255, 0.498)  50%); /* Degradado ajustado */
    position: relative;
}

.main-section h1{
padding-left: 4%;
}

#texto-1 {
    font-size: 9em;
    font-family: roboto-medium;
    letter-spacing: -4.29px;
    color: #263294;
    opacity: 1;
    padding-top: 8%;
    text-align: left;
}
#texto-2{
    font-size: 9.5em;
    font-family: roboto-bold;
    letter-spacing: -4.29px;
    color: #263294;
    opacity: 1;
    text-align: left;
}



.main-section p{
    color:#263294;
}

#mensaje{
    margin-left: 2%;
    margin-top: 6.5%;
    /* padding: 3px; */
    font-size: 0.9rem;
    font-family: roboto;
}

#mensaje1{
    padding-left: 10px;
}

#mensaje2{
    margin-left: 15px;

}

.shapes {
    border-radius: 15%;
}

.shape1, .shape2 {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #263294;
    transform: rotate(45deg);
}

.color-palette {
    position: absolute;
    top: 40%;
    right: 6.7%;
    transform: translateY(-50%);
}

.color-box {
    width: 65px;
    height: 78px;
    border-radius: 15%;
    margin-top: -46px; /* Ajusta este valor según la superposición que desees */
}

.color-box:first-child {
    margin-top: 0; /* La primera caja no necesita superponerse */
}

.color1 { background-color: #252057; }
.color2 { background-color: #2F1046; }
.color3 { background-color: #3354A0; }
.color4 { background-color: #EA2635; }
.color5 { background-color: #ffffff; }
.color6 { background-color: #F9AE3C; }
.color7 { background-color: #F4F4F4; }


.scroll-indicator {
    font-size: 2em;
    color: #3353A0;
    margin-top: 40px;
}

/* Footer */
footer {
    background-color: #3353A0;
    padding: 20px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

footer .left {
    font-weight: bold;
}

footer .right {
    max-width: 600px;
}

footer .footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .footer-nav ul li {
    margin: 0 15px;
    font-family: roboto-light;
}

footer .footer-nav ul li a {
    text-decoration: none;
    color: white;
}

footer .footer-nav ul li a:hover {
    text-decoration: underline;
}

footer p {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 0.9rem;
    color: white;
    font-family: roboto-light;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '|';
    position: absolute;
    right: -15px;
    color: #ffffff; /* Color del pipe */
}

.nav-link {
    padding: 0 15px; /* Espacio alrededor del texto para que el pipe no esté pegado */
    display: inline;
}

#logo-solo-lat{
    margin-top:8%;
    padding:10px;
    margin-left: 7%;
}

/* Estilos para el botón circular */
.scroll-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.scroll-indicator-back {
    font-size: 2em;
    color: #3353A0;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    bottom: 20px; /* Mantén el botón cerca de la parte inferior de la sección */
    right: 45px; /* Ajusta la posición según lo desees */
    z-index: 1000;
}

.btn-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: #e0e7ed;
}

.flecha-img-back {
    width: 90px;
    height: 90px;
    transform: rotate(180deg);    
    transition: transform 0.3s ease;
}

/* Efecto cuando se pasa el ratón sobre el botón */
.btn-circle:hover .flecha-img-back {
    transform: rotate(135deg);
}

.flecha-img {
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease;
}

/* Efecto cuando se pasa el ratón sobre el botón */
.btn-circle:hover .flecha-img {
    transform: rotate(-45deg);
}

.bg-dark-blue {
    background-color: #252057;
}

.bg-purple {
    background-color: #2F0F45;
}

.bg-blue {
    background-color: #3353A0;
}

.bg-red {
    background-color: #EA2635;
}

.bg-white {
    background-color: #ffffff;
}

.bg-orange {
    background-color: #F9AE3C;
}

.bg-white{
    background-color: #F4F4F4;
    opacity: 100%;
}

.custom-section {
    padding: 0;
    margin: 0;
}

.custom-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    height: 696.8px;
    width: 185px;
    transition: all 1s ease;
    cursor: pointer;
    overflow: hidden;
    flex: 1;
}

.custom-column img {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    transition: transform 0.5s ease, clip-path 0.5s ease;
    clip-path: inset(0%);
}

.custom-column.expanded {
    flex: 12;
}

.custom-column.collapsed {
    flex: 0.2;
}

/* Añadimos una clase para el tamaño original */
.custom-column.original {
    width: 185px; /* Tamaño original de las columnas */
}




.text-dark-blue {
    color: #342356;
}

.img-fluid{
    width: 131px;
}
/* 
#empresas-section {
    display:block;
} */


.hidden {
    display: none;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    opacity: 0;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
}

#full-screen-logo {
    width: 150px;
    margin-bottom: 20px;
}

.full-screen img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}

.about-section {
    background-color: #252057; /* Color de fondo principal */
    position: relative;
    height: 696.81px;
    align-items: center;
}

/* .background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; 
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.background-pattern img {
    width: 100%;
    height: 100%;
}

.about-text {
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    z-index: 2; 
}

.about-text h2 {
    font-size: 28px;
    color: #2D2352;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.blockquote {
    font-size: 16px;
    color: #555;
    position: relative;
    padding-left: 20px;
}

.blockquote::before {
    content: "“";
    font-size: 4em;
    position: absolute;
    left: 0;
    top: -20px;
    color: black;
    line-height: 0.5;
}

.blockquote-footer {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    display: block;
} */

.pattern-lat {
    position: absolute;
    width: 571.68px;
    right: 0%;
    height: 100%;
}

.text-box{
    width: 524px;
    height: 448px;
    border-radius: 15%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.text-div {
    position: absolute;
    top: 50%;
    right: 112px;
    transform: translateY(-50%);
}