/* Estilos generales */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
    }

@font-face {
    font-family: roboto-bold;
    src: url(Roboto-Bold.ttf);
    }

@font-face {
    font-family: roboto-medium;
    src: url(Roboto-Medium.ttf);
    }

    @font-face {
        font-family: roboto-light;
        src: url(Roboto-Light.ttf);
        }


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #3353A0;
}

header{
    padding:30px 0px;
    background-color: #ffffff;
}

#cont-logo{
    margin-left: 7%;
}

#logo{
    width: 70%;
}

nav{
    font-family: roboto;
    font-size: 0.88rem;
}

header .nav-item{
    width: 120px;
    text-align: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2810, 10, 10, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#contacto{
    margin-left: 165px;
}

.nav-item a{
    color: #3353A0;
}

.nav-item a:hover{
    color: blue;
    background-color: rgba(189, 207, 207, 0.121);
    border-radius: 15px;
}

#menu{
    margin-left:2.3%;
}



/* Sección principal */
.main-section {
    text-align: center;
    padding: 40px 20px;
    background: radial-gradient(at 0% 10%, rgba(124, 159, 165, 0.2), rgba(124, 159, 165, 0.2), rgba(124, 159, 165, 0.20),rgba(255, 255, 255, 0.498)  50%); /* Degradado ajustado */
    position: relative;
}

.main-section h1{
padding-left: 4%;
}

#texto-1 {
    font-size: 9.5vw; /* Ajusta el tamaño en función del ancho de la pantalla */
    font-family: 'roboto-medium';
    letter-spacing: -0.2vw;
    color: #263294;
    opacity: 1;
    padding-top: 6vw; /* Padding relativo a la pantalla */
    text-align: left;
}

#texto-2 {
    font-size: 9.5vw; /* Ajuste responsivo del tamaño */
    font-family: 'roboto-medium';
    letter-spacing: -0.2vw;
    color: #263294;
    opacity: 1;
    text-align: left;
}


.main-section p{
    color:#263294;
}

#mensaje{
    margin-left: 2%;
    margin-top: 6.5%;
    /* padding: 3px; */
    font-size: 0.9rem;
    font-family: roboto;
}

#mensaje1{
    padding-left: 10px;
    font-size: 1.3rem;
}

#mensaje2{
    margin-left: 15px;

}

.shapes {
    border-radius: 15%;
}

.shape1, .shape2 {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #263294;
    transform: rotate(45deg);
}

.color-palette {
    position: absolute;
    top: 40%;
    right: 6.7%;
    transform: translateY(-50%);
}

.color-box {
    width: 65px;
    height: 78px;
    border-radius: 15%;
    margin-top: -46px; /* Ajusta este valor según la superposición que desees */
}

.color-box:first-child {
    margin-top: 0; /* La primera caja no necesita superponerse */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .color-palette {
        top: 30%;
        right: 4%;
        transform: translateY(-50%);
    }

    .color-box {
        width: 50px;
        height: 60px;
        margin-top: -30px; /* Ajusta la superposición en pantallas más pequeñas */
    }

    .scroll-indicator {
        margin-top: 20px;
    }

    header .nav-item {
        text-align: left;
        width: 100%; /* Para ocupar todo el ancho disponible */
        margin-left: 0px;
    }

    #contacto {
        margin-left: 0px !important;
    }

    #mensaje1{
        padding-left: 0%;
    }

    #mensaje2{
        margin-left: 0%;
    }
    
    .col-10{
        padding-left: 0%;
    }

    .custom-column.expanded #empresa-logo {
        top: 20% !important; 
        left: 20% !important;
        width: 10vh !important;
        height: 10vw !important;
        position: absolute !important;
    }
}


/* Estilos para pantallas pequeñas como móviles verticales */
@media (max-width: 576px) {
    .color-palette {
        top: 50%;
        right: 2%;
        flex-direction: row; /* Las cajas se colocarán en fila en lugar de columna */
        transform: translateY(-50%);
        justify-content: space-between;
    }

    .color-box {
        width: 40px;
        height: 50px;
        margin-top: -30; /* Ya no necesitas superposición en esta vista */
    }

    .custom-column.expanded #empresa-logo {
        top: 20% !important; 
        left: 20% !important;
        width: 10vh !important;
        height: 10vw !important;
        position: absolute !important;
    }
}

.color1 { background-color: #252057; }
.color2 { background-color: #2F1046; }
.color3 { background-color: #3354A0; }
.color4 { background-color: #EA2635; }
.color5 { background-color: #ffffff; }
.color6 { background-color: #F9AE3C; }
.color7 { background-color: #F4F4F4; }


.scroll-indicator {
    font-size: 2em;
    color: #3353A0;
    margin-top: 40px;
}

/* Footer */
footer {
    background-color: #161931;
    font-family: roboto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 0.5%;
}

.footer-social a{
    margin-right: 10%;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '|';
    position: absolute;
    right: -15px;
    color: #ffffff; /* Color del pipe */
}

.nav-link {
    padding: 0 15px; /* Espacio alrededor del texto para que el pipe no esté pegado */
    display: inline;
}

#logo-solo-lat{
    margin-top:8%;
    padding:10px;
    margin-left: 7%;
}

/* Estilos para el botón circular */
.scroll-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.scroll-indicator-back {
    font-size: 2em;
    color: #3353A0;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    bottom: 20px; /* Mantén el botón cerca de la parte inferior de la sección */
    right: 45px; /* Ajusta la posición según lo desees */
    z-index: 1000;
}

.btn-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: #e0e7ed;
}

.flecha-img-back {
    width: 90px;
    height: 90px;
    transform: rotate(180deg);    
    transition: transform 0.3s ease;
}

/* Efecto cuando se pasa el ratón sobre el botón */
.btn-circle:hover .flecha-img-back {
    transform: rotate(135deg);
}

.flecha-img {
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease;
}

/* Efecto cuando se pasa el ratón sobre el botón */
.btn-circle:hover .flecha-img {
    transform: rotate(-45deg);
}

.bg-dark-blue {
    background-color: #252057;
}

.bg-purple {
    background-color: #2F0F45;
}

.bg-blue {
    background-color: #3353A0;
}

.bg-red {
    background-color: #EA2635;
}

.bg-white {
    background-color: #ffffff;
}

.bg-orange {
    background-color: #F9AE3C;
}

.bg-white-1{
    background-color: #F4F4F4;
    opacity: 100%;
}

.custom-section {
    padding: 0;
    margin: 0;
}

/* Overlay para cubrir toda la pantalla */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparente */
    display: none; /* Oculto inicialmente */
    z-index: 9; /* Asegurarnos que esté encima de todo */
  }

  .link-overlay {
    position: fixed; /* Para que z-index funcione */
    z-index: 10000; /* Mayor que el overlay */
    color: #3353A0; /* O el color que desees */
    font-weight: bold;
    text-decoration: none;
}

/* Contenedor que agrupa el logo y el texto */
.logo-and-text-container {
    /* flex-direction: column; */
    align-items: center;  /* Centra el logo y el texto horizontalmente */
    position: relative;
    width: 50%;
  }
 /* #purple-ideas {
    display: none;
    text-align: center;
    margin-top: 28.5%;
    margin-left: 5.5%;
  } */

.custom-column.expanded #purple-ideas {
    display: none;
    text-align: center;
    margin-top: 28.5%;
    margin-left: 5.5%;
  } 

  #empresa-logo {
    max-width: 80%;
    max-height: 80%;
    width: 120px;
    height: auto;
    position: relative;
    transition: all 0.5s ease;
    clip-path: inset(0%);
}

#empresa-purple {
    max-width: 80%;
    max-height: 80%;
    width: 100px;
    height: auto;
    position: relative;
    transition: all 1s ease;
    clip-path: inset(0%);
  }

  #empresa-logo-red{
    max-width: 80%;
    max-height: 80%;
    width: 130px;
    height: auto;
    position: relative;
    transition: all 1s ease;
    clip-path: inset(0%);
}

#empresa-logo-blue{
    max-width: 80%;
    max-height: 80%;
    width: 200px;
    height: auto;
    position: relative;
    transition: all 1s ease;
    clip-path: inset(0%);
}

#empresa-logo-ux {
    max-width: 80%;
    max-height: 80%;
    width: 100px;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
    transition: all 1s ease;
    clip-path: inset(0%);
}

#empresa-logo-byo{
    max-width: 80%;
    max-height: 80%;
    width: 100px;
    height: auto;
    position: relative;
    transition: all 1s ease;
    clip-path: inset(0%);
}
  
  .custom-column.expanded #empresa-logo {
    top: 20% !important; 
    left: 20% !important;
    width: 234px !important;
    height: 234px !important;
    position: absolute !important;
}

  .custom-column.expanded #empresa-purple {
    width: 111px !important;
    height: 111px !important;
    position: relative !important;
    top: 28% !important;
    left: 23% !important;
  }
  
.custom-column.expanded #empresa-logo-red {
    top: 30% !important;
    left: 10% !important;
    width: 297px !important;
    height: 96px !important;
    position: absolute !important;
}



.custom-column.expanded #empresa-logo-blue {
    top: 30% !important;
    left: 10% !important;
    width: 334px !important;
    height: 88px !important;
    position: absolute !important;
}

/* Estado expandido del logo UX */
.custom-column.expanded #empresa-logo-ux {
    top: 23% !important;
    left: 12% !important;
    width: 182px !important;
    height: 200px !important;
    position: absolute !important;
}


.custom-column.expanded #empresa-logo-byo {
    top: 23% !important;
    left: 12% !important;
    width: 210px !important;
    height: 210px !important;
    position: absolute !important;
}

.custom-column.original{
    display: flex;
    justify-content: center;
    position: relative;
    height: 696.8px;
    width: 185px;
    transition: all 1s ease;
    cursor: pointer;
    overflow: hidden;
    flex: 1;
}

.custom-column.expanded {
    width: 1223px;
    display: flex;
    position: relative;
    height: 696.8px;
    transition: all 1s ease;
    cursor: pointer;
    overflow: hidden;
    flex: 1;
}

.custom-column.collapsed {
    width: 20px;
    display: flex;
    position: relative;
    height: 696.8px;
    transition: all 1s ease;
    cursor: pointer;
    overflow: hidden;
    flex: 0.25;
}

.custom-column.expanded #pattern-lat {
    display: block; /* Muestra el patrón */
    opacity: 1; /* Aparece el patrón */
    width: 572px;
    height: 697px;
    position: fixed; /* Cambiar a 'absolute' para permitir el uso de left */
    right: -11%; /* Ahora left funcionará */
}


#text-div.original {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 10;
    font-family: roboto;
    color: black;
    margin-left: 150%;
    transition: all 1s ease; /* Transición suave */
}

#text-div.expanded {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 10;
    font-family: roboto;
    color: black;
    transition: all 1s ease; /* Transición suave */
}

#text-div-red.original {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 10;
    font-family: roboto;
    color: black;
    margin-left: 150%;
    transition: all 1s ease; /* Transición suave */
}

#text-div-red.expanded {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 10;
    font-family: roboto;
    color: black;
    transition: all 1s ease; /* Transición suave */
}

#text-div-blue.original {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 10;
    font-family: roboto;
    color: black;
    margin-left: 150%;
    transition: all 1s ease; /* Transición suave */
}

#text-div-blue.expanded {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 10;
    font-family: roboto;
    color: black;
    transition: all 1s ease; /* Transición suave */
}

#text-div-ux.original {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 10;
    font-family: roboto;
    color: black;
    margin-left: 150%;
    transition: all 1s ease; /* Transición suave */
}

#text-div-ux.collapsed {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 10;
    font-family: roboto;
    color: black;
    margin-left: 150%;
    transition: all 1s ease; /* Transición suave */
}

#text-div-ux.expanded {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 10;
    font-family: roboto;
    color: black;
    transition: all 1s ease; /* Transición suave */
}

#text-div-byo.original {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 10;
    font-family: roboto;
    color: black;
    margin-left: 150%;
    transition: all 1s ease; /* Transición suave */
}

#text-div-byo.expanded {
    display: block;
    position: absolute;
    top: 62%;
    width: 40%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 10;
    font-family: roboto;
    color: black;
    transition: all 1s ease; /* Transición suave */
}


.custom-column.expanded #text-div-purple{
    display: block;
    left: 50%; 
    opacity: 1; 
    position: absolute;
}

.custom-column.expanded #pattern-purple {
    display: block;
    opacity: 0; 
    width: 600px;
    height: 135%;
    position: absolute; 
    right: -11%; 
    opacity: 0.68;
    bottom: -10%;
}

.custom-column.expanded #pattern-share {
    display: block; /* Muestra el patrón */
    width: 500px;
    height: 697px;
    position: absolute; /* Cambiar a 'absolute' para permitir el uso de left */
    right: -11%; /* Ahora left funcionará */
    scale: 2;
    top: -10%;
}

.custom-column.expanded #pattern-red {
    display: block; /* Muestra el patrón */
    opacity: 1; /* Aparece el patrón */
    width: 538.89px;
    height: 135%;
    position: absolute; /* Cambiar a 'absolute' para permitir el uso de left */
    right: -5%;
    opacity: 1;
    bottom: -10%;
    scale:1.2;
}

.custom-column.expanded #pattern-ux {
    display: block; /* Muestra el patrón */
    width: 619px;
    height: 135%;
    position: absolute; /* Cambiar a 'absolute' para permitir el uso de left */
    right: -5%;
    opacity: 0.13;
    bottom: -10%;
}
.custom-column.expanded #pattern-blue {
    display: block; /* Muestra el patrón */
    opacity: 1; /* Aparece el patrón */
    width: 538.89px;
    height: 135%;
    position: absolute; /* Cambiar a 'absolute' para permitir el uso de left */
    right: -8%;
    opacity: 1;
    bottom: -10%;
    scale: 1.2;
}

.custom-column.expanded #pattern-byo {
    display: block; /* Muestra el patrón */
    opacity: 1; /* Aparece el patrón */
    width: 622px;
    height: 135%;
    position: absolute; /* Cambiar a 'absolute' para permitir el uso de left */
    right: -5%;
    bottom: -10%;
}

/* #pattern-lat, #pattern-purple, #pattern-share, #pattern-red, #pattern-blue, #pattern-ux, #pattern-byo {
    opacity: 0;
    top: -100%;
    left: 60%;
} */


.text-dark-blue {
    color: #342356;
}

#logo{
    width: 131px;
}
/* 
#empresas-section {
    display:block;
} */


.hidden {
    display: none;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    opacity: 0;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
}

#full-screen-logo {
    width: 150px;
    margin-bottom: 20px;
}

.full-screen img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}

.about-section {
    background-color: #252057; /* Color de fondo principal */
    position: relative;
    height: 696.81px;
    align-items: center;
}

.text-box{
    width: 524px;
    height: 448px;
    border-radius: 45px;
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 10%;
}

.text-box-purple{
    width: 475px;
    height: 448px;
    border-radius: 45px;
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 10%;
}


#parrafo-lat{
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    font-size: 1rem; 
    padding-top: 10px; 
    color: #383838;
    justify-content: center;
}

#parrafo{
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    font-size: 1rem; 
    margin-top: 20px;
    color: #383838;
    justify-content: center;
}